/*.main{
    background-color:burlywood; */

.front-end {
    background-color:antiquewhite;
}
.left {
    background-color: white;
}
.right {
    background-color: aqua;
}


.dtls{
    display: flex;
}

a{
    text-decoration: none;
}
.main-page .coloumn{
    display: block;
}
.about h1 {
    font-size: 50px;
}
.buttons {
  display: flex;
}
.buttons button{
    width: 200px;
    padding: 10px;
    border: 7px solid blue;
    background-color: transparent;
    border-radius: 40px;
    margin: 5px;
}

.text {
    text-align: justify;
}
footer {
    text-align: center;
    padding: 3px;
    /* background-color: whitesmoke; */
    color: white;
    margin-top: 14em;
    margin-right: 58em;
  }

.icons{
    margin-top: 40px;
}
.icons span {
    margin: 7px;
    font-size: 2em;
}


  /* .container {
    padding: 2px 16px;
  } */
  .row{
      width: 80%;
      margin: auto;
      display: flex;
      margin-top: 50px;
  }
  .column {
      width: 50%;
      height: 280px;
    
  }
  .left{
      text-align: justify;
      font-weight: lighter;
      padding-top: 0;
      padding: 20px;
  }

  .column img{
      border-radius: 100%;
      /* background-image: url("about.jpg"); */
      height: 300px;
      width: 300px;
  }
.line
{
    font-size: 40px;
    color: blue;
    border-left: 7px solid blue;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
  .left h1 {
      color: blue;
      border-left: 7px solid blue;
      padding-left: 10px;
  }

  .left a {
      border: 5px solid blue;
      padding: 10px;
      width: 350px;
      color: blue;
  }
.space {
    margin-bottom: 50px;
}

  .basic {
    background-image: url("images/html&css.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    background-position: center;

}

.bootcamp {
    background-image: url("images/tdd_mocha_chai.webp");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 320px;
    background-position: center;
}

.dom {
    background-image: url("images/domPic.jpg");
    background-repeat: no-repeat;
    background-size: initial;
    height: 320px;
    background-position: center;

}

@media (max-width: 540px) {
 .main-page {
     width: 100%;
 }
 .row {
     display: block;
     width: 100%;
 }
 .div1 {
     width: 50%;
 }
 .div1 .icons {
     margin-top: 27em;
     display: flex;
     /* position: fixed; */
     
 } 
 .about {
     width: 50%;
     margin-top: 15em;
 }
 .text{
     display: block;
     width: 175%;
     overflow-wrap: hidden;
 }
 .buttons button{
    width: 107px;
    padding: 7px;
    border: 4px solid blue;
    background-color: transparent;
    border-radius: 40px;
    margin: 3px;
   }
}

@media (max-width: 540px) {
.front-end {
    display: inline;
    width: 100%;
}
.section{
    width: 33.3%;
}
.left {
    width: 90%;
}
.right {
    width: 100%;
    /* background-size: 160px; */
}


}
    


